@{
    ViewBag.Title = "Home Page";
}
<div class="col-md-2"></div>
<div class="col-md-10">
    <div class="jumbotron">
        <h1>ElectroVente</h1>
        <p class="lead">La boutique en ligne qui vend de l'électronique, des PC, de l'équipement Multimédia et de l'électroménager</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">plus de détails &raquo;</a></p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Nos produits</h2>
            <p>
                La gamme de produits en ligne de ElectroVente comprend actuellement plus de 1.000 articles: des PCs de bureau, des ordinateurs portables et des notebooks, les plus performantes des cartes graphiques pour les joueurs, des téléviseurs, des appareils photos numériques ainsi que de divers produits relatifs à l'énergie et àl'électroménager,
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">plus de détails &raquo;</a></p>
        </div>
        <div class="col-md-6">
            <h2>Nos services</h2>
            <p>Fournir des produits de qualité à des prix abordables, la satisfaction optimale du client en fournissant un service clientèle de qualité et des conseils professionnels constitue le but primordial et la philosophie de notre entreprise.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">plus de détails &raquo;</a></p>
        </div>
    </div>
    </div>
